vrf BBONEDEFAULT
 address-family ipv6 unicast
  import route-target
   65212:1100
  !
  export route-target
   65212:1100
  !
interface Loopback1100
 ipv6 address 2a00:23a0:0125:9::1/128
 ipv6 nd suppress-ra
!    
interface Bundle-Ether63.1632
 ipv6 address 2a00:23a0:0125:0::3/127
 ipv6 nd suppress-ra
!
interface Bundle-Ether53.1533
 ipv6 address 2a00:23a0:0125:2::3/127
 ipv6 nd suppress-ra
!
prefix-set V6_bb1_eu_static_range
  2a00:23d0:2d00::/40
end-set
!
prefix-set V6_bb1_eu_static_range_secondary
  2a00:23d0:2c00::/40,
  2a00:23d0:2e00::/40
end-set
!
prefix-set V6_bb1_infra_subnets
  2a00:23a0:0125:0::2/127,
  2a00:23a0:0125:1::2/127,
  2a00:23a0:0125:2::2/127,
  2a00:23a0:0125:3::2/127
end-set
!
prefix-set V6_bb1_eu_dynamic_range
  2a00:23d0:2400::/39,
  2a00:23d0:2600::/39
end-set
!
route-policy V6_BB1_LNS_OUTBOUND
  if destination in V6_default route then
    pass
  endif   
end-policy
!
route-policy V6_BB1_LNS_INBOUND
  if destination in V6_bb1_infra_subnets then
    done
  endif
  if destination in V6_static_eu then
    done
  endif
  if destination in V6_bb1_eu_dynamic_range then
    done
  endif
end-policy
!
router static
 vrf BBONEDEFAULT
  address-family ipv6 unicast
   2a00:23d0:2d00::/40,
   2a00:23d0:2c00::/40,
   2a00:23d0:2e00::/40
 !
!
router bgp 65212
 neighbor-group V6_BB1_LNS_PEER
   remote-as 65212
   timers 3 9
   update-source Loopback1100
   address-family ipv6 unicast
    route-policy V6_BB1_LNS_INBOUND in
    route-reflector-client
    route-policy V6_BB1_LNS_OUTBOUND out
    soft-reconfiguration inbound always
  !
 vrf BBONEDEFAULT
  rd 65212:1100
  address-family ipv6 unicast
   maximum-paths ebgp 4
   2a00:23d0:2d00::/40,
   2a00:23d0:2c00::/40,
   2a00:23d0:2e00::/40
 !
 neighbor 2a00:23a0:0125:9::3
  use neighbor-group V6_BB1_LNS_PEER
  description ibgp ipv6 peer to ELN02
 !
 neighbor 2a00:23a0:0125:9::4
  use neighbor-group V6_BB1_LNS_PEER
  description ibgp ipv6 peer to ELN03
  !
!
router ospfv3 1100
 nsr
 !
 vrf BBONEDEFAULT
  router-id 192.168.112.1
  area 0.0.0.0
   mtu-ignore enable
   interface Bundle-Ether30.306
    passive enable
   !
   interface Bundle-Ether63.1632
    passive enable
   !
   interface Bundle-Ether53.1533
    passive enable
   !
   interface Loopback1100
    passive enable
   !

-------------------------------------------------------- LAR to SAR -----------------------------------------------

interface Bundle-Ether311.411
ipv6 address 2a00:23a0:0125:5::2/127
 ipv6 nd suppress-ra
!
interface Bundle-Ether321.421
ipv6 address 2a00:23a0:0125:7::2/127
 ipv6 nd suppress-ra
!
route-policy V6_SAR_DIRECT_INBOUND
  if destination in V6_default_route then
    pass
  endif   
end-policy
!
route-policy V6_SAR_DIRECT_OUTBOUND
  if destination in V6_bb1_infra_subnets then
    set community (65212:110)
    set med 100
    done
  endif
  if destination in V6_bb1_eu_static_range then
    set community (65212:120)
    set med 100
    done
  endif
  if destination in V6_bb1_eu_static_range_secondary then
    set community (65212:125)
    set med 100
    done
  endif
  if destination in V6_bb1_eu_dynamic_range then
    set community (65212:130)
    set med 100
    done
  endif
end-policy
!
router bgp 65212
 vrf BBONEDEFAULT
  !
  neighbor 2a00:23a0:0125:5::3
   remote-as 65112
   timers 10 30
   password 0 <password>
   description eBGP Peer to SAR01 for BB1
   address-family ipv6 unicast
    send-community-ebgp
    route-policy V6_SAR_DIRECT_INBOUND in
    route-policy V6_SAR_DIRECT_OUTBOUND out
    soft-reconfiguration inbound always
  !
  neighbor 2a00:23a0:0125:7::3
   remote-as 65112
   timers 10 30
   password 0 <password>
   description eBGP Peer to SAR02 for BB1
   address-family ipv6 unicast
    send-community-ebgp
    route-policy V6_SAR_DIRECT_INBOUND in 
    route-policy V6_SAR_DIRECT_OUTBOUND out
    soft-reconfiguration inbound always
  !
 !

interface Bundle-Ether30.306
 ipv6 address 2a00:23a0:0125:4::3/127
 ipv6 nd suppress-ra
!
route-policy V6_BB1_LAR_INBOUND
 if destination in V6_match_all then
  pass
 endif
end-policy
!
route-policy V6_BB1_LAR_OUTBOUND
 if destination in V6_default_route then
  set med 200
  done
 endif
 if destination in V6_match_all then
  pass
 endif
end-policy
!
router bgp 65212
 vrf BBONEDEFAULT  
  !
  neighbor 2a00:23a0:0125:4::2
   remote-as 65212
   timers 10 30
   description iBGP ipv6 Peer to local LAR for BB1
   address-family ipv6 unicast
    route-policy V6_BB1_LAR_INBOUND in
    route-policy V6_BB1_LAR_OUTBOUND out
    soft-reconfiguration inbound always
 !
!

interface Bundle-Ether103.1103
 ipv6 address 2a00:23a0:0115:c::3/127
 ipv6 nd suppress-ra
!
interface Bundle-Ether101.1100
 ipv6 address 2a00:23a0:0125:a::2/127
 ipv6 nd suppress-ra
!
route-policy V6_BB1_DWDM_INBOUND
 if destination in V6_match_all then
  pass
 endif
end-policy
!
route-policy V6_BB1_DWDM_OUTBOUND
 if destination in V6_static_eu then
  done
 endif
end-policy
!
router bgp 65212
 vrf BBONEDEFAULT
  !
  neighbor 2a00:23a0:0125:a::3
   remote-as 65211
   timers 10 30
   description BB1 Intersite COLLAR01 IPv6 peer
   password clear <password>
   address-family ipv6 unicast
    route-policy V6_BB1_DWDM_INBOUND in
    route-policy V6_BB1_DWDM_OUTBOUND out
    soft-reconfiguration inbound always
   !
  neighbor 2a00:23a0:0115:c::2
   remote-as 65213
   timers 10 30
   description BB1 Intersite SBKLAR01 IPv6 peer
   password clear <password>
   address-family ipv6 unicast
    route-policy V6_BB1_DWDM_INBOUND in
    route-policy V6_BB1_DWDM_OUTBOUND out
    soft-reconfiguration inbound always
   !
  !

