{% set as_num = sites[inventory_hostname[0:3]][inventory_hostname]['as_num']%}
{% set lar01 = sites[inventory_hostname[0:3]][inventory_hostname]['lar01']%}
{% set lar02 = sites[inventory_hostname[0:3]][inventory_hostname]['lar02']%}

router bgp {{ as_num }}
 neighbor {{ lar01 }}
  remote-as {{ as_num }}
  timers 10 30
  password 0 <password>
  description Peer to LAR01 for BB1
  address-family ipv6 unicast
   route-policy V6_LAR_DIRECT_INBOUND in
   route-policy V6_LAR_DIRECT_OUTBOUND out
   soft-reconfiguration inbound always
  !
 !
 neighbor {{ lar02 }}
  remote-as {{ as_num }}
  timers 10 30
  password 0 <password>
  description Peer to LAR02 for BB1
  address-family ipv6 unicast
   route-policy V6_LAR_DIRECT_INBOUND in
   route-policy V6_LAR_DIRECT_OUTBOUND out
   soft-reconfiguration inbound always
  !
 !
